body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.822);
    color: white;
    border-radius: 8px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #cc7a00;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
